<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <script src="../js/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body ng-app="myApp">
  <div ng-controller="myctrl1">
    <div class="col-6 m-auto">
      <div class="card mt-2">
        <div class="card-header text-uppercase bg-warning">
          <i class="fa fa-list" aria-hidden="true"></i> form thông tin sinh viên
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="usr"><i class="fa fa-user" aria-hidden="true"></i> Họ và tên:</label>
            <input type="text" class="form-control" id="usr" ng-model="student.fullname">
          </div>
          <div class="form-group">
            <label for="date"><i class="fa fa-calendar" aria-hidden="true"></i> Ngày sinh:</label>
            <input type="text" class="form-control" id="date" ng-model="student.birthday">
          </div>
          <div class="form-group">
            <label for="mark"><i class="fa fa-pencil" aria-hidden="true"></i> Điểm:</label>
            <input type="text" class="form-control" id="mark" ng-model="student.mark">
          </div>
          <div class="form-inline d-flex justify-content-around">
            <button class="btn btn-success" ng-click="save()"><i class="fa fa-floppy-o" aria-hidden="true"></i>
              Lưu</button>
            <button class="btn btn-danger" ng-click="cancel()"><i class="fa fa-window-close" aria-hidden="true"></i>
              Hủy</button>
          </div>
        </div>
        <div class="card-footer text-muted font-italic d-flex justify-content-end">
          Chú ý: nhập điểm là số từ 0 - 10, ngày dd/mm/yyyy
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="myctrl2">
    <div class="col-6 m-auto">
      <table class="table mt-3 text-center">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Họ tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Điểm</th>
            <th scope="col">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat=" sv in students">
            <td>{{sv.fullname}}</td>
            <td>{{sv.birthday}}</td>
            <td>{{sv.mark}}</td>
            <td><button type="button" class="btn btn-link bg-light" ng-click="edit($index)">Sửa</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>
<script>
  var app = angular.module("myApp", []);
  app.controller("myctrl1", function ($scope, $rootScope) {
    $scope.save = function () {
      $rootScope.students[$rootScope.index] = $scope.student;
    }
    $scope.cancel = function () {
      $rootScope.student = angular.copy($rootScope.students[$rootScope.index]);
    }
  })
  app.controller("myctrl2", function ($scope, $rootScope) {
    $rootScope.students = [{
        fullname: "Thi Hoài",
        birthday: "5/05/2000",
        mark: 8.5
      },
      {
        fullname: "Đỗ Đạt Cao",
        birthday: "24/03/2000",
        mark: 9
      },
      {
        fullname: "Đào Kho Báu",
        birthday: "27/04/2001",
        mark: 7.5
      },
      {
        fullname: "Mai Thanh Toán",
        birthday: "9/10/1999",
        mark: 6
      },
    ];
    $rootScope.index = -1;
    $scope.edit = function (chiso) {

      $rootScope.index = chiso;

      $rootScope.student = angular.copy($rootScope.students[chiso]);
    }
  })
</script>

</html>